section.hero {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 90%;
  margin: 0 auto;
  width: 100%;

  div {
    .circle {
      animation: circle 1s ease 50ms 1 normal forwards;
      max-width: 85%;
      position: absolute;
    }

    .star2 {
      animation: star 1s ease 50ms normal forwards;
      position: relative;
      max-width: 10%;
      top: 52%;
      left: 75%;
    }

    .star1 {
      animation: star 1s ease 50ms 1 normal forwards;
      width: 20%;
      position: relative;
      top: 20%;
      right: 3%;
    }

    .pattins {
      animation: pattins 3s ease 1ms 1 normal forwards;
      max-width: 100%;
      position: relative;
      bottom: 10%;
    }
  }

  h1 div {
    display: inline-block;
    overflow: hidden;
    height: 3.2rem;
    width: min-content;
    vertical-align: bottom;
  }

  h1 span {
    display: block;
    animation: slideUp 6s infinite ease;
  }

  h1 span:nth-child(1),
  span:nth-child(4) {
    color: #06b6d4;
  }
  h1 span:nth-child(2) {
    color: #db2777;
  }
  h1 span:nth-child(3) {
    color: #16a34a;
  }
}

div.button-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0 2rem 0;

  span:nth-child(1) {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: transform 1s ease;
  }

  div:nth-child(1) a {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  div:nth-child(2) {
    img {
      margin-right: 2rem;
    }
  }

  
}

@keyframes circle {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pattins {
  0% {
    transform: translateX(700px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes star {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  0%,
  22% {
    transform: translateY(0);
  }

  23% {
    transform: translateY(calc(-3rem -12px));
  }

  33%,
  55% {
    transform: translateY(-3rem);
  }

  66%,
  88% {
    transform: translateY(-6rem);
  }

  100% {
    transform: translateY(-9rem);
  }
}
