main {
  width: 100%;
  display: flex;
  flex-direction: column;
  div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .star2 {
    animation: star 1s ease 50ms normal forwards;
    position: relative;
    max-width: 10%;
    top: 52%;
    left: 75%;
  }
  .content-photo {
    width: 100%;

    & figure {
      position: relative;
      margin-bottom: 1rem;
      align-items: center;
      line-height: 0;
      overflow: hidden;
      border-radius: 2rem;

      & > img {
        height: 19.5rem;
        object-fit: cover;
        width: 100%;
        transition: scale 500ms;
      }
      &:hover {
        & > img {
          scale: 1.1;
        }
        figcaption {
          transform: translateY(0px);
        }
      }
    }
  }
}

figcaption {
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.875rem 1rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.64), rgb(0 0 0 / 0));
  transform: translateY(100%);
  transition: transform 500ms;
  gap: 0.5rem;
}

& figcaption span {
  width: 100%;
  display: flex;
}
& figcaption img {
  width: 2rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}
