.btn-sm,
.btn-md,
.btn-lg {
  background-color: #ffcd1e;
  color: var(--text);
  width: 284px;
  border-radius: 16px;
  padding: 1rem;
  border: none;
  -webkit-box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.61);
}

.btn-sm-play,
.btn-md-play,
.btn-lg-play {
  background-color: white;
  color: var(--text);
  border-radius: 200px;
  border: none;
  padding: 1rem;

  -webkit-box-shadow: 0px 20px 30px -20px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 20px 30px -13px rgba(0, 0, 0, 0.61);
}

.padding-container {
  padding: 12px 12px 12px 12px;
}
